:root {
   /* Define CSS variables for color and background color */
  --button-color-light: #242424;
  --button-color-dark: #a5a5a5;
  --button-color: var(--button-color-dark);

  --button-bg-color-light: #ffffff;
  --button-bg-color-dark: #242424;
  --button-bg-color:var(--button-bg-color-dark);

  --button-hover-bg-color-light: #e4e4e4;
  --button-hover-bg-color-dark: #333;  
  --button-hover-bg-color: var(--button-hover-bg-color-dark);

  --scrollbar-bg-color-light: #d3d3d3;
  --scrollbar-bg-color-dark: #404040;
  --scrollbar-bg-color: var(--scrollbar-bg-color-dark);

  --scrollbar-thumb-color-light: #c3c3c3;
  --scrollbar-thumb-color-dark: #676767;
  --scrollbar-thumb-color: var(--scrollbar-bg-color-dark);

  --root-color-light: #242424;
  --root-color-dark: #fff;
  --root-color: var(--root-color-dark);

  --root-bg-color-light: #fff;
  --root-bg-color-dark: #242424;
  --root-bg-color: var(--root-bg-color-dark);


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--root-color) !important;
  background-color: var(--root-bg-color) !important;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set the drawer from interfering interaction with the map */
.MuiModal-root {
  position: relative !important;
}

/* Prevent scrollbar flicker */
#deckgl-wrapper {
  height: 99% !important;
}

/* Set the box style */
::-webkit-scrollbar {
  background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}



/* Set the button style */
.MuiButton-root {
  color: var(--button-color) !important ; 
  border-color: #a5a5a5 !important;
  
}

.MuiButton-root:hover {
  background-color: var(--button-hover-bg-color) !important;
  border-color: #a5a5a5 !important;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/

/* Zoom Control */
.zoom-controls {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: vertical;
  z-index: 999;
}
.zoom-controls-button {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  font-size: 20px;
  border: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/